:root {
	--main-text-color: rgba(33, 33, 33, 1);
	--active-color: rgba(33, 150, 243, 1);
}

* {
	/* margin: 0;
	padding: 0; */
	font-family: 'Roboto', sans-serif;
	color: var(--main-text-color);
}
.no-underline {
	text-decoration: none;
}

.no-dots {
	list-style: none;
}

.logo {
	font-family: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 1);
	height: 31px;
	width: 145px;
	font-weight: bold;
	letter-spacing: 0.03em;
}
.logo-color-front {
	color: var(--active-color);
}
.nav-style {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 16px;
}

.active-color:hover:focus {
	color: var(--active-color);
	cursor: pointer;
}

/* style main */

.section-one-h2 {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.section-one-p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(117, 117, 117, 1);
}

.section-two-three-h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-name {
	font-weight: 500;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
}
.team-describe {
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: rgba(117, 117, 117, 1);
}
